{% extends "base.html" %}
{% block title %}Task List{% endblock %}
{% block content %}
    <form method="POST" class="row">
        {% csrf_token %}
        {{ form.title }}
        <input type="submit" value="Create Task">
    </form>

    <div>
        {% for t in tasks %}
            <div class="task-item">
                <div class="check-text">
                    <form action="{% url 'toggle' t.id %}" method="POST" class="checkbox-form">
                        {% csrf_token %}
                        <input type="checkbox" onchange="this.form.submit()" {% if t.complete %} checked {% endif %}>
                    </form>

                    {% if t.complete %}
                        <strike><span class="task-text">{{ t }}</span></strike>
                    {% else %}
                        <span class="task-text">{{ t }}</span>
                    {% endif %}
                </div>
                <div>
                    <a href="{% url 'update' t.id %}">Update</a>
                    <a href="{% url 'delete' t.id %}">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
