{% extends "base.html" %}
{% block title %}Update Task{% endblock %}
{% block header %}Update Task{% endblock %}
{% block content %}
    <form method="POST" style="display: flex; flex-direction: column; gap: 20px;">
        {% csrf_token %}
        <div class="row">
            {{ form.title }}
            <button type="submit" style="border-style: none; background-color: #36454F; color: white; padding: 10px 20px; border-radius: 30px; cursor: pointer">Modify</button>
        </div>
    </form>
    <a href="{% url 'index' %}" style="display: inline-block; margin-top: 20px; color: #36454F; text-decoration: underline;">
        Back to Task List
    </a>
{% endblock %}
